.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #353535;
}

.loader {
  background-color: #353535;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  z-index: 10;
}

.heading h1 {
  opacity: 0.3;
  font-size: 10vw;
  color: #fff;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: -moz-max-content;
  width: max-content;
  left: 2%;
  bottom: 10%;
}

.loader .hidden h1 {
  font-size: 8vw;
  transform: translateY(50px);
}

#highlightText {
  color: #4787e8;
  font-weight: 700;
}

main {
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .button {
  background-color: #4787e8;
  cursor: pointer;
  color: white;
  margin-top: 2rem;
  position: relative;
  border-radius: 5px;
  width: -moz-max-content;
  width: max-content;
}
main .button :hover img {
  transform: rotate(360deg);
  transition: 0.3s all ease-in-out;
}
main .button .btnContent {
  width: 100%;
  padding: 0.5rem;
  gap: 5px;
}
main .button .btnContent a {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 30px;
}
main .button .btnContent img {
  width: 20px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  main .button .btnContent {
    padding: 1rem 2rem;
    gap: 10px;
  }
  main .button .btnContent a {
    font-size: 20px;
  }
  main .button .btnContent img {
    width: 30px;
  }
}
main .navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 15px;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .navbar .logo img {
  width: 100%;
  height: 70px;
}
main .navbar .menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .navbar .menu-links :hover a {
  transform: translateY(-100%);
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
main .navbar .menu-links .menu-item {
  margin-right: 2rem;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0.5rem;
}
main .navbar .menu-links .menu-item .menu-link {
  display: flex;
  flex-direction: column;
}
main .navbar .menu-links .menu-item .menu-link a {
  font-size: 20px;
}
main .navbar .contactBtn {
  background-color: #4787e8;
  border-radius: 10px;
  color: #fff;
  padding: 0.5rem;
  margin-right: none;
  display: flex;
  flex-direction: column;
}
main .navbar .contactBtn .menu-item {
  margin-right: none;
  font-weight: 600;
  overflow: hidden;
  height: 45px;
  padding: 0.5rem;
}
main .navbar .contactBtn .menu-item :hover a {
  transform: translateY(-100%);
  transition: 0.5s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
main .navbar .contactBtn .menu-item .menu-link {
  display: flex;
  flex-direction: column;
}
main .navbar .contactBtn .menu-item .menu-link a {
  font-size: 20px;
  color: white;
}
main .home {
  width: 100%;
  min-height: 50vh;
  justify-content: center;
  padding: 2rem 2rem;
  border-radius: 0px 0px 30px 30px;
  position: relative;
  overflow: hidden;
  flex-direction: column-reverse;
  margin-top: 5rem;
}
main .home #bubble {
  position: absolute;
  width: 30vw;
  right: 0;
  bottom: 20%;
  z-index: -1;
  transform: translate(20%, 30%);
}
@media only screen and (min-width: 768px) {
  main .home {
    min-height: 80vh;
  }
}
@media only screen and (min-width: 1024px) {
  main .home {
    min-height: 90vh;
    flex-direction: row;
  }
  main .home #bubble {
    width: 30vw;
    transform: translate(30%, 60%);
  }
}
@media only screen and (min-width: 1280px) {
  main .home {
    min-height: 90vh;
    flex-direction: row;
  }
  main .home #bubble {
    width: 20vw;
    transform: translate(30%, 60%);
  }
}
main .home .homeLeft {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0rem;
}
@media only screen and (min-width: 1280px) {
  main .home .homeLeft {
    line-height: 5rem;
    width: 50%;
  }
}
main .home .homeLeft h3 {
  font-size: 6vw;
  font-weight: 400;
}
main .home .homeLeft h1 {
  font-size: 9vw;
}
main .home .homeLeft h1 #highlight {
  color: #4787e8;
  font-size: 10vw;
}
main .home .homeLeft h4 {
  font-size: 4vw;
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  main .home .homeLeft h3 {
    font-size: 4vw;
  }
  main .home .homeLeft h1 {
    font-size: 6vw;
  }
  main .home .homeLeft h1 #highlight {
    font-size: 6vw;
  }
  main .home .homeLeft h4 {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 1024px) {
  main .home .homeLeft h3 {
    font-size: 3vw;
  }
  main .home .homeLeft h1 {
    font-size: 5vw;
  }
  main .home .homeLeft h1 #highlight {
    font-size: 6vw;
  }
  main .home .homeLeft h4 {
    font-size: 2vw;
  }
}
@media only screen and (min-width: 1280px) {
  main .home .homeLeft h3 {
    font-size: 2vw;
  }
  main .home .homeLeft h1 {
    font-size: 4vw;
  }
  main .home .homeLeft h1 #highlight {
    font-size: 5vw;
  }
  main .home .homeLeft h4 {
    font-size: 2vw;
  }
}
main .home .homeRight {
  width: 100%;
  position: relative;
}
main .home .homeRight img {
  width: 50vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  main .home .homeRight img {
    width: 40vw;
  }
}
@media only screen and (min-width: 1024px) {
  main .home .homeRight {
    width: 50%;
  }
  main .home .homeRight img {
    width: 30vw;
  }
}
@media only screen and (min-width: 1280px) {
  main .home .homeRight img {
    width: 30vw;
  }
}
main #curveLines {
  position: absolute;
  width: 20vw;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate(140%, 110%);
}
main .about {
  width: 100%;
  height: 500vh;
}/*# sourceMappingURL=index.css.map */